/ibm_nlp/target/classes/service/*.class
/ibm_nlp/doc/~$ReadMe.docx
.metadata/*
!.metadata/.plugins
.metadata/.plugins/*
!.metadata/.plugins/org.eclipse.debug.core
.metadata/.plugins/org.eclipse.debug.core/*
!.metadata/.plugins/org.eclipse.debug.core/.launches
RemoteSystemsTempFiles
http___download_eclipse_org_recommenders_models_mars_
/ibm_nlp/paraphrase
